html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #8d7171;
    
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50px;
    height: 100%;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}
#heading {
    text-align: start;
    margin: 1.5rem;
    color: rgb(245, 232, 232);
}
.blog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
}
.blog-card {
    background-color: #eadbdb;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    transition: transform 0.3s ease;
}
.blog-card:hover {
    transform: scale(1.02);
}
.blog-card h3 {
    margin-bottom: 20px;
    color:#333;
}
.blog-card p {
    color: #555;
}